In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel(r"C:\Users\User\Documents\GitHub\Robot Viar\RRHH\PPC\base.xlsx")
data.head()

,CHOFER,EQUIPO,FECHA_COMPROBANTE,PROVINCIA_ORIGEN,LUGAR_ORIGEN,FECHA_HORA_DESTINO,PROVINCIA_DESTINO,LUGAR_DESTINO,KM_NORMALES,KM_ESPECIALES,VIATICO_KM_RECORRIDO,CONTROL_DESCARGA,ESTADÍA,FCO COMP,CRUCE DE FRONT,AGUAS SAB,MAN BOMBA,TIPO_MERCADERIA,union
0,ACEVEDO HUGO ANTONIO,LUY734,2021-10-07,TUCUMAN,TUCUMAN,NaN,Catamarca,RECREO,0,0,0,1.0,NaN,NaN,NaN,NaN,NaN,GLUCOSA,Córdoba
1,ACEVEDO HUGO ANTONIO,LUY734,2021-12-21,Cordoba,ARROYITO,NaN,Cordoba,ARROYITO,10,0,10,1.0,NaN,NaN,NaN,NaN,NaN,GLUCOSA,Córdoba
2,ACEVEDO HUGO ANTONIO,LUY734,2021-12-23,Buenos Aires,BURZACO,NaN,Cordoba,ARROYITO,672,0,672,1.0,NaN,NaN,NaN,NaN,NaN,VACIOS,Córdoba
3,ACEVEDO HUGO ANTONIO,LUY734,2021-12-27,Cordoba,ARROYITO,NaN,Cordoba,CORDOBA,120,0,120,1.0,NaN,NaN,NaN,NaN,NaN,GLUCOSA,Córdoba
4,ACEVEDO HUGO ANTONIO,LUY734,2021-12-28,Cordoba,CORDOBA,NaN,TUCUMAN,TUCUMAN,560,0,560,1.0,NaN,NaN,NaN,NaN,NaN,VACIOS,Córdoba

In [3]:
data.shape

(320, 19)

**Generar dos dataframe por cada sindicato( Cba y San Luis):** *Pendiente, ver error paralabra sindicato*

In [4]:
data_vm = data[data["union"]=="Villa Mercedes"]
data_cba = data[data["union"]=="Córdoba"]
len(data_cba) + len(data_vm) - len(data)

0

**Dividir por choferes la base de Calipso:**

In [5]:
# Filtrar por choferes
data_ch = data[data["CHOFER"]=="ACEVEDO HUGO ANTONIO"]
data_ch.head()

,CHOFER,EQUIPO,FECHA_COMPROBANTE,PROVINCIA_ORIGEN,LUGAR_ORIGEN,FECHA_HORA_DESTINO,PROVINCIA_DESTINO,LUGAR_DESTINO,KM_NORMALES,KM_ESPECIALES,VIATICO_KM_RECORRIDO,CONTROL_DESCARGA,ESTADÍA,FCO COMP,CRUCE DE FRONT,AGUAS SAB,MAN BOMBA,TIPO_MERCADERIA,union
0,ACEVEDO HUGO ANTONIO,LUY734,2021-10-07,TUCUMAN,TUCUMAN,NaN,Catamarca,RECREO,0,0,0,1.0,NaN,NaN,NaN,NaN,NaN,GLUCOSA,Córdoba
1,ACEVEDO HUGO ANTONIO,LUY734,2021-12-21,Cordoba,ARROYITO,NaN,Cordoba,ARROYITO,10,0,10,1.0,NaN,NaN,NaN,NaN,NaN,GLUCOSA,Córdoba
2,ACEVEDO HUGO ANTONIO,LUY734,2021-12-23,Buenos Aires,BURZACO,NaN,Cordoba,ARROYITO,672,0,672,1.0,NaN,NaN,NaN,NaN,NaN,VACIOS,Córdoba
3,ACEVEDO HUGO ANTONIO,LUY734,2021-12-27,Cordoba,ARROYITO,NaN,Cordoba,CORDOBA,120,0,120,1.0,NaN,NaN,NaN,NaN,NaN,GLUCOSA,Córdoba
4,ACEVEDO HUGO ANTONIO,LUY734,2021-12-28,Cordoba,CORDOBA,NaN,TUCUMAN,TUCUMAN,560,0,560,1.0,NaN,NaN,NaN,NaN,NaN,VACIOS,Córdoba

In [6]:
data_ch.shape

(18, 19)

**Pendientes**
  * Hacer bucle for para n choferes en data.
  * Formato de fecha( ver parse_dates).
  * investigar si es posible armar un solo excel y cada chofer en una solapa.

*enlaces para investigar*
   * https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html

In [7]:
# example
df1 = pd.DataFrame([['a', 'b'], ['c', 'd']],
                   index=['row 1', 'row 2'],
                   columns=['col 1', 'col 2'])
df1.to_excel("output.xlsx", sheet_name = "Acevedo")

In [8]:
df2 = df1.copy()
with pd.ExcelWriter(r'C:\Users\User\Documents\GitHub\Robot Viar\RRHH\output.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='Sheet_name_1')
    df2.to_excel(writer, sheet_name='Sheet_name_2')

In [9]:
with pd.ExcelWriter('output.xlsx', engine="openpyxl",
                    mode='a') as writer:  
    #df2.to_excel(writer, sheet_name='Sheet_name_3')
    df2.to_excel(writer, sheet_name="Sheet_name_4")

In [36]:
import pandas as pd

dataframe= pd.DataFrame({'Attendance': [60, 100, 80, 78, 95],
                    'Name': ['Olivia', 'John', 'Laura', 'Ben', 'Kevin'],
                    'Marks': [90, 75, 82, 64, 45]})

with pd.ExcelWriter('test.xlsx') as writer:
    dataframe.to_excel(writer, 
                       columns=["Name","Attendance"],
                       sheet_name="Sheet1")
    dataframe.to_excel(writer, 
                       columns=["Name","Marks"],
                       sheet_name="Sheet2")

In [38]:
import pandas as pd

dataframe= pd.DataFrame({'Attendance': [60, 100, 80, 78, 95],
                    'Name': ['Olivia', 'John', 'Laura', 'Ben', 'Kevin'],
                    'Marks': [90, 75, 82, 64, 45]})

with pd.ExcelWriter('test.xlsx') as writer:
    dataframe.to_excel(writer, header=["Student", "First Name", "Score"], startrow=4)

In [10]:
 ##############################################################################################################################

In [11]:
data_ch.to_excel(r"C:\Users\User\Documents\GitHub\Robot Viar\RRHH\Outputs\data_ch.xlsx", index=False)

**Formatear data_ch para asimilarlo a la formalidad del sindicato:**

In [12]:
example_union = pd.read_excel(r"C:\Users\User\Documents\GitHub\Robot Viar\RRHH\PPC\example_sind_cba_acev_2.xlsx")
example_union.head()

,CONVENCION COLECTIVA DE TRABAJO Nro. : 40/89,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Transporte VI AR SA C.U.I.T. 30-707058...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chofer ACEVEDO, Hugo Antonio C.U.I.L. 20-2...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ruta Nac Nro 19 km 226 (2434) Arroyito - Pc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fecha de Ingreso: 12/11/2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Rubro : Empresa TERRESTRE DE TRANSPORTE CARGA...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Categoria Profesional C H O F E R D E P...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CUIL,AÑO,MES,Fecha Origen,Hora Origen,Fecha Destino,Hora destino,Kilómetros recorridos,Kilómetros 100 %,"Km extraord. 1,2",...,Pcia de Origen,Localidad de origen,Pcia de Destino,Lugar de Destino,Viáticos Kilómetros recorridos,Franco compens,Aguas Saboriza-das,Manipulacion de Bomba,Control Satelital,NaN
4,NaN,NaN,NaN,2021-10-07 00:00:00,NaN,NaN,NaN,0,0,NaN,...,TUCUMAN,TUCUMAN,Catamarca,RECREO,0,NaN,NaN,NaN,NaN,ACEVEDO HUGO ANTONIO

In [13]:
example_union.to_excel(r"C:\Users\User\Documents\GitHub\Robot Viar\RRHH\Outputs\formulario_sind.xlsx", index=False)

In [14]:
# Dividir por filas dataframe con iloc.

In [15]:
example_head = example_union.iloc[:3,:] # encabezado
example_body = example_union.iloc[3:,:] # cuerpo

In [16]:
example_head.head()

,CONVENCION COLECTIVA DE TRABAJO Nro. : 40/89,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Transporte VI AR SA C.U.I.T. 30-707058...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chofer ACEVEDO, Hugo Antonio C.U.I.L. 20-2...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ruta Nac Nro 19 km 226 (2434) Arroyito - Pc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fecha de Ingreso: 12/11/2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Rubro : Empresa TERRESTRE DE TRANSPORTE CARGA...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Categoria Profesional C H O F E R D E P...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
example_body.head()

,CONVENCION COLECTIVA DE TRABAJO Nro. : 40/89,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
3,CUIL,AÑO,MES,Fecha Origen,Hora Origen,Fecha Destino,Hora destino,Kilómetros recorridos,Kilómetros 100 %,"Km extraord. 1,2",...,Pcia de Origen,Localidad de origen,Pcia de Destino,Lugar de Destino,Viáticos Kilómetros recorridos,Franco compens,Aguas Saboriza-das,Manipulacion de Bomba,Control Satelital,NaN
4,NaN,NaN,NaN,2021-10-07 00:00:00,NaN,NaN,NaN,0,0,NaN,...,TUCUMAN,TUCUMAN,Catamarca,RECREO,0,NaN,NaN,NaN,NaN,ACEVEDO HUGO ANTONIO
5,NaN,NaN,NaN,2021-12-21 00:00:00,NaN,NaN,NaN,10,0,NaN,...,Cordoba,ARROYITO,Cordoba,ARROYITO,10,NaN,NaN,NaN,NaN,ACEVEDO HUGO ANTONIO
6,NaN,NaN,NaN,2021-12-23 00:00:00,NaN,NaN,NaN,672,0,NaN,...,Buenos Aires,BURZACO,Cordoba,ARROYITO,672,NaN,NaN,NaN,NaN,ACEVEDO HUGO ANTONIO
7,NaN,NaN,NaN,2021-12-27 00:00:00,NaN,NaN,NaN,120,0,NaN,...,Cordoba,ARROYITO,Cordoba,CORDOBA,120,NaN,NaN,NaN,NaN,ACEVEDO HUGO ANTONIO

In [18]:
# Renombrar las  columnas del cuerpo.

In [19]:
#example_body.columns.values.tolist()

In [20]:
# Convertir en lista la columna que se usara como encabezado.
columns_body = example_body.iloc[0].tolist()
# Nombrar las columnas con la fila 3. 
example_body.columns = [columns_body]   
# Eliminar fila 3 de losd datos
example_body = example_body.drop([3], axis=0)
example_body.head()

,CUIL,AÑO,MES,Fecha Origen,Hora Origen,Fecha Destino,Hora destino,Kilómetros recorridos,Kilómetros 100 %,"Km extraord. 1,2",...,Pcia de Origen,Localidad de origen,Pcia de Destino,Lugar de Destino,Viáticos Kilómetros recorridos,Franco compens,Aguas Saboriza-das,Manipulacion de Bomba,Control Satelital,NaN
4,NaN,NaN,NaN,2021-10-07 00:00:00,NaN,NaN,NaN,0,0,NaN,...,TUCUMAN,TUCUMAN,Catamarca,RECREO,0,NaN,NaN,NaN,NaN,ACEVEDO HUGO ANTONIO
5,NaN,NaN,NaN,2021-12-21 00:00:00,NaN,NaN,NaN,10,0,NaN,...,Cordoba,ARROYITO,Cordoba,ARROYITO,10,NaN,NaN,NaN,NaN,ACEVEDO HUGO ANTONIO
6,NaN,NaN,NaN,2021-12-23 00:00:00,NaN,NaN,NaN,672,0,NaN,...,Buenos Aires,BURZACO,Cordoba,ARROYITO,672,NaN,NaN,NaN,NaN,ACEVEDO HUGO ANTONIO
7,NaN,NaN,NaN,2021-12-27 00:00:00,NaN,NaN,NaN,120,0,NaN,...,Cordoba,ARROYITO,Cordoba,CORDOBA,120,NaN,NaN,NaN,NaN,ACEVEDO HUGO ANTONIO
8,NaN,NaN,NaN,2021-12-28 00:00:00,NaN,NaN,NaN,560,0,NaN,...,Cordoba,CORDOBA,TUCUMAN,TUCUMAN,560,NaN,NaN,NaN,NaN,ACEVEDO HUGO ANTONIO

In [21]:
# Armar un dataframe vacío.

In [22]:
df = pd.DataFrame()

In [23]:
# Agrego las columnas de example_body vacías como encabezado de df.
df[columns_body] = None
df.head()

Empty DataFrame
Columns: [CUIL, AÑO, MES, Fecha Origen , Hora Origen , Fecha Destino, Hora destino, Kilómetros recorridos, Kilómetros 100 %, Km extraord. 1,2, Km extraord. 1,4, Control  descarga, Estadia, Cruce Frontera, Pcia de Origen , Localidad de origen, Pcia de Destino, Lugar de Destino, Viáticos Kilómetros recorridos, Franco compens, Aguas Saboriza-das , Manipulacion de Bomba, Control Satelital , nan]
Index: []

[0 rows x 24 columns]

In [24]:
# Cómo insertar datos en un DataFrame (investigar mas)- ver las columnas  vacías. Como armar listas de una columna.
# https://www.codigopiton.com/como-crear-un-dataframe-con-pandas-y-python/
# https://www.delftstack.com/es/howto/python-pandas/pandas-column-to-list/

In [25]:
# Investigando: convertir en lista una columna de un df
list_of_single_column = list(data_cba['FECHA_COMPROBANTE'])
#list_of_single_column

In [26]:
# Como convertir varias columnas en listas individuales desde un df

In [27]:
# Armado de bucle for: para cada columna(c) de data_cba armar una lista con sus datos aplicando el metodo list()

In [28]:
columns_data_cba = data_cba.columns.values.tolist()
columns_data_cba

['CHOFER',
 'EQUIPO',
 'FECHA_COMPROBANTE',
 'PROVINCIA_ORIGEN',
 'LUGAR_ORIGEN',
 'FECHA_HORA_DESTINO',
 'PROVINCIA_DESTINO',
 'LUGAR_DESTINO',
 'KM_NORMALES',
 'KM_ESPECIALES',
 'VIATICO_KM_RECORRIDO',
 'CONTROL_DESCARGA',
 'ESTADÍA',
 'FCO COMP',
 'CRUCE DE FRONT',
 'AGUAS SAB',
 'MAN BOMBA',
 'TIPO_MERCADERIA',
 'union']

In [29]:
# Armar una lista individual con los datos de cada columna de data_cba
nombre_chofer = list(data_cba['CHOFER'])
equipo = list(data_cba['EQUIPO'])
fecha_origen = list(data_cba['FECHA_COMPROBANTE'])
prov_origen = list(data_cba['PROVINCIA_ORIGEN'])
lugar_origen = list(data_cba['LUGAR_ORIGEN'])
prov_destino = list(data_cba['PROVINCIA_DESTINO'])
fecha_hora_destino = list(data_cba['FECHA_HORA_DESTINO'])
lugar_destino = list(data_cba['LUGAR_DESTINO'])
km_normales = list(data_cba['KM_NORMALES'])
km_especiales = list(data_cba['KM_ESPECIALES'])
viatico_km = list(data_cba['VIATICO_KM_RECORRIDO'])
control_descarga = list(data_cba['CONTROL_DESCARGA'])
estadia = list(data_cba['ESTADÍA'])
franco_comp = list(data_cba['FCO COMP'])
cruce_frontera = list(data_cba['CRUCE DE FRONT'])
aguas_sab = list(data_cba['AGUAS SAB'])
manipu_bomba = list(data_cba['MAN BOMBA'])
mercaderia = list(data_cba['TIPO_MERCADERIA'])

In [30]:
#df.columns.values.tolist()

In [31]:
df["CUIL"] = "20214007275"
df["Fecha Origen"] = fecha_origen # Agrega una nueva columna
df.head()

,CUIL,AÑO,MES,Fecha Origen,Hora Origen,Fecha Destino,Hora destino,Kilómetros recorridos,Kilómetros 100 %,"Km extraord. 1,2",...,Localidad de origen,Pcia de Destino,Lugar de Destino,Viáticos Kilómetros recorridos,Franco compens,Aguas Saboriza-das,Manipulacion de Bomba,Control Satelital,NaN,Fecha Origen
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-10-07
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-21
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-23
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-27
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-28

In [32]:
# Creo un nuevo df desde cero con las columnas de data_ch para crear el formato de example_union.
new_df = pd.DataFrame(
    {
     
 'CUIL': "",
 'AÑO': "",
 'MES': "",
 'Fecha Origen ': fecha_origen,
 'Hora Origen ': "",
 'Fecha Destino': fecha_hora_destino,
 'Hora destino': "",
 'Kilómetros recorridos': km_normales,
 'Kilómetros 100 %': km_especiales,
 'Km extraord. 1,2': "",
 'Km extraord. 1,4': "",
 'Control  descarga': control_descarga,
 'Estadia': estadia,
 'Cruce Frontera': cruce_frontera,
 'Pcia de Origen ': prov_origen,
 'Localidad de origen': lugar_origen,
 'Pcia de Destino': prov_destino,
 'Lugar de Destino': lugar_destino,
 'Viáticos Kilómetros recorridos': viatico_km,
 'Franco compens': franco_comp,
 'Aguas Saboriza-das ': aguas_sab,
 'Manipulacion de Bomba': manipu_bomba,
 'Control Satelital ': "",
 'Chofer_provisorio': nombre_chofer       
 
    }
)

In [33]:
new_df.head()

,CUIL,AÑO,MES,Fecha Origen,Hora Origen,Fecha Destino,Hora destino,Kilómetros recorridos,Kilómetros 100 %,"Km extraord. 1,2",...,Pcia de Origen,Localidad de origen,Pcia de Destino,Lugar de Destino,Viáticos Kilómetros recorridos,Franco compens,Aguas Saboriza-das,Manipulacion de Bomba,Control Satelital,Chofer_provisorio
0,,,,2021-10-07,,NaN,,0,0,,...,TUCUMAN,TUCUMAN,Catamarca,RECREO,0,NaN,NaN,NaN,,ACEVEDO HUGO ANTONIO
1,,,,2021-12-21,,NaN,,10,0,,...,Cordoba,ARROYITO,Cordoba,ARROYITO,10,NaN,NaN,NaN,,ACEVEDO HUGO ANTONIO
2,,,,2021-12-23,,NaN,,672,0,,...,Buenos Aires,BURZACO,Cordoba,ARROYITO,672,NaN,NaN,NaN,,ACEVEDO HUGO ANTONIO
3,,,,2021-12-27,,NaN,,120,0,,...,Cordoba,ARROYITO,Cordoba,CORDOBA,120,NaN,NaN,NaN,,ACEVEDO HUGO ANTONIO
4,,,,2021-12-28,,NaN,,560,0,,...,Cordoba,CORDOBA,TUCUMAN,TUCUMAN,560,NaN,NaN,NaN,,ACEVEDO HUGO ANTONIO

In [34]:
new_df.to_excel(r"C:\Users\User\Documents\GitHub\Robot Viar\RRHH\Outputs\planilla_sindicato_cba.xlsx", index=False)

In [35]:
# Tareas: 
 # Agregar cuil a data_cba 
 # Generar excel para formulario sindicato de Cba y VM:
      # dividir por hojas los choferes de los dos df(cba y vm)
      # to_excel usar parametros startrow(fila sup izq)=4 
      # poner como indice chofer_provisorio y index=False
      # Encabezado sindicato de cba plantilla con formula referencia a nombre de chofer, fecha de ingreso, ¿¿categoría??
      #