In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel(r"C:\Users\User\Documents\GitHub\Robot Viar\RRHH\PPC\base02.xlsx")
data.head()

,CHOFER,EQUIPO,FECHA_COMPROBANTE,PROVINCIA_ORIGEN,LUGAR_ORIGEN,FECHA_HORA_ORIGEN,PROVINCIA_DESTINO,LUGAR_DESTINO,KM_NORMALES,KM_ESPECIALES,...,CONTROL_DESCARGA,ESTADÍA,FCO COMP,CRUCE DE FRONT,AGUAS SAB,MAN BOMBA,TIPO_MERCADERIA,union,CUIL,FECHA INGRESO
0,ACEVEDO HUGO ANTONIO,LUY734,2022-02-09,Cordoba,ARROYITO,NaN,Buenos Aires,CHASCOMUS,802.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,GLUCOSA,Córdoba,20214007275,2012-11-12
1,ACEVEDO HUGO ANTONIO,LUY734,2022-02-11,Buenos Aires,CHASCOMUS,NaN,Cordoba,ARROYITO,802.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,VACIOS,Córdoba,20214007275,2012-11-12
2,ACEVEDO HUGO ANTONIO,LUY734,2022-02-11,Cordoba,ARROYITO,NaN,Cordoba,CORDOBA,120.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,GLUCOSA,Córdoba,20214007275,2012-11-12
3,ACEVEDO HUGO ANTONIO,LUY734,2022-02-12,Cordoba,CORDOBA,NaN,TUCUMAN,TUCUMAN,560.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,VACIOS,Córdoba,20214007275,2012-11-12
4,ACEVEDO HUGO ANTONIO,LUY734,2022-02-13,TUCUMAN,TUCUMAN,NaN,Buenos Aires,LUJAN,0.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,GLUCOSA,Córdoba,20214007275,2012-11-12

In [3]:
data.shape

(305, 21)

In [4]:
# Agregar columna AÑO y MES con metodo insert
data.insert(21, "AÑO", 2022)
data.insert(22, "MES", 2)
data.head()

,CHOFER,EQUIPO,FECHA_COMPROBANTE,PROVINCIA_ORIGEN,LUGAR_ORIGEN,FECHA_HORA_ORIGEN,PROVINCIA_DESTINO,LUGAR_DESTINO,KM_NORMALES,KM_ESPECIALES,...,FCO COMP,CRUCE DE FRONT,AGUAS SAB,MAN BOMBA,TIPO_MERCADERIA,union,CUIL,FECHA INGRESO,AÑO,MES
0,ACEVEDO HUGO ANTONIO,LUY734,2022-02-09,Cordoba,ARROYITO,NaN,Buenos Aires,CHASCOMUS,802.0,0.0,...,NaN,NaN,NaN,NaN,GLUCOSA,Córdoba,20214007275,2012-11-12,2022,2
1,ACEVEDO HUGO ANTONIO,LUY734,2022-02-11,Buenos Aires,CHASCOMUS,NaN,Cordoba,ARROYITO,802.0,0.0,...,NaN,NaN,NaN,NaN,VACIOS,Córdoba,20214007275,2012-11-12,2022,2
2,ACEVEDO HUGO ANTONIO,LUY734,2022-02-11,Cordoba,ARROYITO,NaN,Cordoba,CORDOBA,120.0,0.0,...,NaN,NaN,NaN,NaN,GLUCOSA,Córdoba,20214007275,2012-11-12,2022,2
3,ACEVEDO HUGO ANTONIO,LUY734,2022-02-12,Cordoba,CORDOBA,NaN,TUCUMAN,TUCUMAN,560.0,0.0,...,NaN,NaN,NaN,NaN,VACIOS,Córdoba,20214007275,2012-11-12,2022,2
4,ACEVEDO HUGO ANTONIO,LUY734,2022-02-13,TUCUMAN,TUCUMAN,NaN,Buenos Aires,LUJAN,0.0,0.0,...,NaN,NaN,NaN,NaN,GLUCOSA,Córdoba,20214007275,2012-11-12,2022,2

**Generar dos dataframe por cada sindicato( Cba y San Luis):** *Pendiente, ver error paralabra sindicato*

In [5]:
data_vm = data[data["union"]=="Villa Mercedes"]
data_cba = data[data["union"]=="Córdoba"]
len(data_cba) + len(data_vm) - len(data)

0

**Pendientes**
  * Hacer bucle for para n choferes en data.
  * Formato de fecha( ver parse_dates).
  * investigar si es posible armar un solo excel y cada chofer en una solapa.

*enlaces para investigar*
   * https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html

# example
df1 = pd.DataFrame([['a', 'b'], ['c', 'd']],
                   index=['row 1', 'row 2'],
                   columns=['col 1', 'col 2'])
df1.to_excel("output.xlsx", sheet_name = "Acevedo")

df2 = df1.copy()
with pd.ExcelWriter(r'C:\Users\User\Documents\GitHub\Robot Viar\RRHH\output.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='Sheet_name_1')
    df2.to_excel(writer, sheet_name='Sheet_name_2')

with pd.ExcelWriter('output.xlsx', engine="openpyxl",
                    mode='a') as writer:  
    #df2.to_excel(writer, sheet_name='Sheet_name_3')
    df2.to_excel(writer, sheet_name="Sheet_name_4")

import pandas as pd

dataframe= pd.DataFrame({'Attendance': [60, 100, 80, 78, 95],
                    'Name': ['Olivia', 'John', 'Laura', 'Ben', 'Kevin'],
                    'Marks': [90, 75, 82, 64, 45]})

with pd.ExcelWriter('test.xlsx') as writer:
    dataframe.to_excel(writer, 
                       columns=["Name","Attendance"],
                       sheet_name="Sheet1")
    dataframe.to_excel(writer, 
                       columns=["Name","Marks"],
                       sheet_name="Sheet2")

import pandas as pd

dataframe= pd.DataFrame({'Attendance': [60, 100, 80, 78, 95],
                    'Name': ['Olivia', 'John', 'Laura', 'Ben', 'Kevin'],
                    'Marks': [90, 75, 82, 64, 45]})

with pd.ExcelWriter('test.xlsx') as writer:
    dataframe.to_excel(writer, header=["Student", "First Name", "Score"], startrow=4)

In [6]:
 ##############################################################################################################################

## Explorar planilla sindicato de Córdoba:

In [7]:
example_union = pd.read_excel(r"C:\Users\User\Documents\GitHub\Robot Viar\RRHH\PPC\example_sind_cba_acev_2.xlsx")
example_union.head(4)

,CONVENCION COLECTIVA DE TRABAJO Nro. : 40/89,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Transporte VI AR SA C.U.I.T. 30-707058...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chofer ACEVEDO, Hugo Antonio C.U.I.L. 20-2...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ruta Nac Nro 19 km 226 (2434) Arroyito - Pc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fecha de Ingreso: 12/11/2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Rubro : Empresa TERRESTRE DE TRANSPORTE CARGA...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Categoria Profesional C H O F E R D E P...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CUIL,AÑO,MES,Fecha Origen,Hora Origen,Fecha Destino,Hora destino,Kilómetros recorridos,Kilómetros 100 %,"Km extraord. 1,2",...,Pcia de Origen,Localidad de origen,Pcia de Destino,Lugar de Destino,Viáticos Kilómetros recorridos,Franco compens,Aguas Saboriza-das,Manipulacion de Bomba,Control Satelital,NaN

In [8]:
#example_union.to_excel(r"C:\Users\User\Documents\GitHub\Robot Viar\RRHH\Outputs\formulario_sind.xlsx", index=False)

In [9]:
# Dividir por filas dataframe con iloc.

In [10]:
example_head = example_union.iloc[:3,:] # encabezado
example_body = example_union.iloc[3:,:] # cuerpo

In [11]:
#example_head.head()

In [12]:
#example_body.head()

In [13]:
# Convertir en lista la columna que se usara como encabezado.
columns_body = example_body.iloc[0].tolist()
# Nombrar las columnas con la fila 3. 
example_body.columns = [columns_body]   
# Eliminar fila 3 de losd datos
example_body = example_body.drop([3], axis=0)
example_body.head(1)

,CUIL,AÑO,MES,Fecha Origen,Hora Origen,Fecha Destino,Hora destino,Kilómetros recorridos,Kilómetros 100 %,"Km extraord. 1,2",...,Pcia de Origen,Localidad de origen,Pcia de Destino,Lugar de Destino,Viáticos Kilómetros recorridos,Franco compens,Aguas Saboriza-das,Manipulacion de Bomba,Control Satelital,NaN
4,NaN,NaN,NaN,2021-10-07 00:00:00,NaN,NaN,NaN,0,0,NaN,...,TUCUMAN,TUCUMAN,Catamarca,RECREO,0,NaN,NaN,NaN,NaN,ACEVEDO HUGO ANTONIO

## Crear un nuevo dataframe para planilla sindicato Cba:

In [14]:
# Listar columnas de data_cba
columns_data_cba = data_cba.columns.values.tolist()
columns_data_cba

['CHOFER',
 'EQUIPO',
 'FECHA_COMPROBANTE',
 'PROVINCIA_ORIGEN',
 'LUGAR_ORIGEN',
 'FECHA_HORA_ORIGEN',
 'PROVINCIA_DESTINO',
 'LUGAR_DESTINO',
 'KM_NORMALES',
 'KM_ESPECIALES',
 'VIATICO_KM_RECORRIDO',
 'CONTROL_DESCARGA',
 'ESTADÍA',
 'FCO COMP',
 'CRUCE DE FRONT',
 'AGUAS SAB',
 'MAN BOMBA',
 'TIPO_MERCADERIA',
 'union',
 'CUIL ',
 'FECHA INGRESO',
 'AÑO',
 'MES']

In [15]:
# Armar una lista individual con los datos de cada columna de data_cba. 
nombre_chofer = list(data_cba['CHOFER'])
equipo = list(data_cba['EQUIPO'])
fecha_origen = list(data_cba['FECHA_COMPROBANTE'])
prov_origen = list(data_cba['PROVINCIA_ORIGEN'])
lugar_origen = list(data_cba['LUGAR_ORIGEN'])
prov_destino = list(data_cba['PROVINCIA_DESTINO'])
fecha_hora_destino = list(data_cba['FECHA_HORA_ORIGEN'])
lugar_destino = list(data_cba['LUGAR_DESTINO'])
km_normales = list(data_cba['KM_NORMALES'])
km_especiales = list(data_cba['KM_ESPECIALES'])
viatico_km = list(data_cba['VIATICO_KM_RECORRIDO'])
control_descarga = list(data_cba['CONTROL_DESCARGA'])
estadia = list(data_cba['ESTADÍA'])
franco_comp = list(data_cba['FCO COMP'])
cruce_frontera = list(data_cba['CRUCE DE FRONT'])
aguas_sab = list(data_cba['AGUAS SAB'])
manipu_bomba = list(data_cba['MAN BOMBA'])
mercaderia = list(data_cba['TIPO_MERCADERIA'])
cuil = list(data_cba['CUIL '])
fecha_ingreso = list(data_cba['FECHA INGRESO'])
año = list(data_cba['AÑO'])
mes = list(data_cba['MES'])

In [16]:
# Crear un nuevo df desde cero con las columnas de data_cba para crear el formato de example_union.
form_cba = pd.DataFrame(
    {
     
 'CUIL': cuil,
 'AÑO': año,
 'MES': mes,
 'Fecha Origen ': "",
 'Hora Origen ': "",
 'Fecha Destino': fecha_hora_destino,
 'Hora destino': "",
 'Kilómetros recorridos': km_normales,
 'Kilómetros 100 %': km_especiales,
 'Km extraord. 1,2': "",
 'Km extraord. 1,4': "",
 'Control  descarga': control_descarga,
 'Estadia': "",
 'Cruce Frontera': cruce_frontera,
 'Pcia de Origen ': prov_origen,
 'Localidad de origen': lugar_origen,
 'Pcia de Destino': prov_destino,
 'Lugar de Destino': lugar_destino,
 'Viáticos Kilómetros recorridos': viatico_km,
 'Franco compens': franco_comp,
 'Aguas Saboriza-das ': aguas_sab,
 'Manipulacion de Bomba': manipu_bomba,
 'Control Satelital ': "",
 'Chofer': nombre_chofer,       
 'fecha ingreso': fecha_ingreso,
    }
)

In [17]:
form_cba.head()

,CUIL,AÑO,MES,Fecha Origen,Hora Origen,Fecha Destino,Hora destino,Kilómetros recorridos,Kilómetros 100 %,"Km extraord. 1,2",...,Localidad de origen,Pcia de Destino,Lugar de Destino,Viáticos Kilómetros recorridos,Franco compens,Aguas Saboriza-das,Manipulacion de Bomba,Control Satelital,Chofer,fecha ingreso
0,20214007275,2022,2,,,NaN,,802.0,0.0,,...,ARROYITO,Buenos Aires,CHASCOMUS,802.0,NaN,NaN,NaN,,ACEVEDO HUGO ANTONIO,2012-11-12
1,20214007275,2022,2,,,NaN,,802.0,0.0,,...,CHASCOMUS,Cordoba,ARROYITO,802.0,NaN,NaN,NaN,,ACEVEDO HUGO ANTONIO,2012-11-12
2,20214007275,2022,2,,,NaN,,120.0,0.0,,...,ARROYITO,Cordoba,CORDOBA,120.0,NaN,NaN,NaN,,ACEVEDO HUGO ANTONIO,2012-11-12
3,20214007275,2022,2,,,NaN,,560.0,0.0,,...,CORDOBA,TUCUMAN,TUCUMAN,560.0,NaN,NaN,NaN,,ACEVEDO HUGO ANTONIO,2012-11-12
4,20214007275,2022,2,,,NaN,,0.0,0.0,,...,TUCUMAN,Buenos Aires,LUJAN,0.0,NaN,NaN,NaN,,ACEVEDO HUGO ANTONIO,2012-11-12

In [18]:
len(form_cba) - len(data_cba)

0

In [19]:
#form_cba.to_excel(r"C:\Users\User\Documents\GitHub\Robot Viar\RRHH\Outputs\planilla_sindicato_cba.xlsx", index=False)

In [20]:
# Tareas: 
 # Agregar cuil, fecha de ingreso a data.(fatima)
 # Generar excel para formulario sindicato de Cba y VM:
      # 2)dividir por hojas los choferes de los dos df(cba y vm)
      # 3)to_excel usar parametros startrow(fila sup izq)=4 
      # 1)poner como indice chofer_provisorio y index=False
      # 4)Encabezado sindicato de cba plantilla con formula referencia a nombre de chofer, fecha de ingreso, ¿¿categoría??

**Dividir por choferes form_cba:**

In [21]:
#Lista choferes sin repetir elementos
nombre_chofer
resultantList = []
 
for element in nombre_chofer:
    if element not in resultantList:
        resultantList.append(element)

resultantList

['ACEVEDO HUGO ANTONIO',
 'BOSETTI JORGE ALBERTO',
 'BRUNOTTO DANIEL MARTIN',
 'BRUNOTTO JORGE AGUSTIN',
 'CID ANDRES ARIEL',
 'FERREYRA CARLOS ALBERTO',
 'FICETTI ANGEL LEONARDO',
 'KEMERER GERONIMO ADRIAN',
 'LUQUE MARIO RENE',
 'NARETTO FRANCISCO ANTONIO',
 'QUIROGA GERARDO DIONISIO',
 'QUIROGA LUCAS RUBEN',
 'TUNINETTI JAVIER OSCAR',
 'VARELA FAVIO EDGARDO']

In [22]:
# Crear un df para cada chofer
acevedo_df = form_cba[form_cba["Chofer"]=="ACEVEDO HUGO ANTONIO"]
bosetti_df = form_cba[form_cba["Chofer"]=="BOSETTI JORGE ALBERTO"]
brunotto_da_df = form_cba[form_cba["Chofer"]=="BRUNOTTO DANIEL MARTIN"]
brunotto_jo_df = form_cba[form_cba["Chofer"]=="BRUNOTTO JORGE AGUSTIN"]
cid_df = form_cba[form_cba["Chofer"]=="CID ANDRES ARIEL"]
ferreyra_df = form_cba[form_cba["Chofer"]=="FERREYRA CARLOS ALBERTO"]
ficetti_df = form_cba[form_cba["Chofer"]=="FICETTI ANGEL LEONARDO"]
kemerer_df = form_cba[form_cba["Chofer"]=="KEMERER GERONIMO ADRIAN"]
luque_df = form_cba[form_cba["Chofer"]=="LUQUE MARIO RENE"]
naretto_df = form_cba[form_cba["Chofer"]=="NARETTO FRANCISCO ANTONIO"]
quiroga_ge_df = form_cba[form_cba["Chofer"]=="QUIROGA GERARDO DIONISIO"]
quiroga_lu_df = form_cba[form_cba["Chofer"]=="QUIROGA LUCAS RUBEN"]
tuninetti_df = form_cba[form_cba["Chofer"]=="TUNINETTI JAVIER OSCAR"]
varela_df = form_cba[form_cba["Chofer"]=="VARELA FAVIO EDGARDO"]
varela_df.shape

(12, 25)

In [23]:
# poner como indice chofer_provisorio como indice o a la izquierda de la pantalla
form_cba.columns

Index(['CUIL', 'AÑO', 'MES', 'Fecha Origen ', 'Hora Origen ', 'Fecha Destino',
       'Hora destino', 'Kilómetros recorridos', 'Kilómetros 100 %',
       'Km extraord. 1,2', 'Km extraord. 1,4', 'Control  descarga', 'Estadia',
       'Cruce Frontera', 'Pcia de Origen ', 'Localidad de origen',
       'Pcia de Destino', 'Lugar de Destino', 'Viáticos Kilómetros recorridos',
       'Franco compens', 'Aguas Saboriza-das ', 'Manipulacion de Bomba',
       'Control Satelital ', 'Chofer', 'fecha ingreso'],
      dtype='object')

#form_cba.columns = (['Chofer','CUIL', 'AÑO', 'MES', 'Fecha Origen ', 'Hora Origen ', 'Fecha Destino',
       'Hora destino', 'Kilómetros recorridos', 'Kilómetros 100 %',
       'Km extraord. 1,2', 'Km extraord. 1,4', 'Control  descarga', 'Estadia',
       'Cruce Frontera', 'Pcia de Origen ', 'Localidad de origen',
       'Pcia de Destino', 'Lugar de Destino', 'Viáticos Kilómetros recorridos',
       'Franco compens', 'Aguas Saboriza-das ', 'Manipulacion de Bomba',
       'Control Satelital ', ])
#form_cba.head()

In [24]:
# to excel 
with pd.ExcelWriter(r'C:\Users\User\Documents\GitHub\Robot Viar\RRHH\Outputs\form_sueldos_cba.xlsx') as writer:  
    acevedo_df.to_excel(writer, sheet_name='ACEVEDO HUGO ANTONIO', startrow=4, index= False)
    bosetti_df.to_excel(writer, sheet_name="BOSETTI JORGE ALBERTO", startrow=4, index= False)
    brunotto_da_df.to_excel(writer, sheet_name= "BRUNOTTO DANIEL MARTIN", startrow=4, index= False)
    brunotto_jo_df.to_excel(writer, sheet_name= "BRUNOTTO JORGE AGUSTIN", startrow=4, index= False)
    cid_df.to_excel(writer, sheet_name="CID ANDRES ARIEL", startrow=4, index= False)
    ferreyra_df.to_excel(writer, sheet_name="FERREYRA CARLOS ALBERTO", startrow=4, index= False)
    ficetti_df.to_excel(writer, sheet_name= "FICETTI ANGEL LEONARDO", startrow=4, index= False)
    kemerer_df.to_excel(writer, sheet_name= "KEMERER GERONIMO ADRIAN", startrow=4, index= False)
    luque_df.to_excel(writer, sheet_name="LUQUE MARIO RENE", startrow=4, index= False)
    naretto_df.to_excel(writer, sheet_name="NARETTO FRANCISCO ANTONIO", startrow=4, index= False)
    quiroga_ge_df.to_excel(writer, sheet_name="QUIROGA GERARDO DIONISIO", startrow=4, index= False)
    quiroga_lu_df.to_excel(writer, sheet_name="QUIROGA LUCAS RUBEN", startrow=4, index= False)
    tuninetti_df.to_excel(writer, sheet_name="TUNINETTI JAVIER OSCAR", startrow=4, index= False)
    varela_df.to_excel(writer, sheet_name="VARELA FAVIO EDGARDO", startrow=4, index= False)

## Crear un nuevo dataframe para planilla sindicato VM:

In [25]:
# Listar columnas de data_vm
columns_data_vm = data_vm.columns.values.tolist()
columns_data_vm

['CHOFER',
 'EQUIPO',
 'FECHA_COMPROBANTE',
 'PROVINCIA_ORIGEN',
 'LUGAR_ORIGEN',
 'FECHA_HORA_ORIGEN',
 'PROVINCIA_DESTINO',
 'LUGAR_DESTINO',
 'KM_NORMALES',
 'KM_ESPECIALES',
 'VIATICO_KM_RECORRIDO',
 'CONTROL_DESCARGA',
 'ESTADÍA',
 'FCO COMP',
 'CRUCE DE FRONT',
 'AGUAS SAB',
 'MAN BOMBA',
 'TIPO_MERCADERIA',
 'union',
 'CUIL ',
 'FECHA INGRESO',
 'AÑO',
 'MES']

In [26]:
# Armar una lista individual con los datos de cada columna de data_vm.
nombre_chofer = list(data_vm['CHOFER'])
equipo = list(data_vm['EQUIPO'])
fecha_origen = list(data_vm['FECHA_COMPROBANTE'])
prov_origen = list(data_vm['PROVINCIA_ORIGEN'])
lugar_origen = list(data_vm['LUGAR_ORIGEN'])
prov_destino = list(data_vm['PROVINCIA_DESTINO'])
fecha_hora_destino = list(data_vm['FECHA_HORA_ORIGEN'])
lugar_destino = list(data_vm['LUGAR_DESTINO'])
km_normales = list(data_vm['KM_NORMALES'])
km_especiales = list(data_vm['KM_ESPECIALES'])
viatico_km = list(data_vm['VIATICO_KM_RECORRIDO'])
control_descarga = list(data_vm['CONTROL_DESCARGA'])
estadia = list(data_vm['ESTADÍA'])
franco_comp = list(data_vm['FCO COMP'])
cruce_frontera = list(data_vm['CRUCE DE FRONT'])
aguas_sab = list(data_vm['AGUAS SAB'])
manipu_bomba = list(data_vm['MAN BOMBA'])
mercaderia = list(data_vm['TIPO_MERCADERIA'])
cuil = list(data_vm['CUIL '])
fecha_ingreso = list(data_vm['FECHA INGRESO'])
año = list(data_vm['AÑO'])
mes = list(data_vm['MES'])

In [27]:
# Crear un nuevo df desde cero con las columnas de data_vm para crear el formato de example_union.
form_vm = pd.DataFrame(
    {
     
 
 'Año': año,
 'Mes': mes,
 'Fecha Origen': "",
 'Pcia de Origen ': prov_origen,       
 'Lugar de Origen': lugar_origen,
 'Fecha Destino': "",
 'Pcia de Destino': prov_destino,
 'Lugar de Destino': lugar_destino,
 'Kilómetros recorridos': km_normales,
 'Kilómetros 100 %': km_especiales,
 'Viáticos Kilómetros recorridos': viatico_km,
 'Control  descarga': control_descarga,
 'Estadia': "",
 'Franco compens,': franco_comp,
 'Cruce Fronteras': cruce_frontera,
 'Aguas Saboriza-das ': aguas_sab,
 'Manip. Bomba': manipu_bomba,
 'Control Satelital ': "",       
 'Chofer': nombre_chofer,       
 'fecha ingreso': fecha_ingreso,
 'CUIL': cuil,       
    }
)

In [28]:
form_vm.head()

,Año,Mes,Fecha Origen,Pcia de Origen,Lugar de Origen,Fecha Destino,Pcia de Destino,Lugar de Destino,Kilómetros recorridos,Kilómetros 100 %,...,Control descarga,Estadia,"Franco compens,",Cruce Fronteras,Aguas Saboriza-das,Manip. Bomba,Control Satelital,Chofer,fecha ingreso,CUIL
0,2022,2,,San Luis,VILLA MERCEDES,,Buenos Aires,VIRREY DEL PINO,740.0,0.0,...,1.0,,NaN,NaN,NaN,NaN,,ARCONA VICTOR FABIAN,2011-12-12,20206584522
1,2022,2,,Buenos Aires,VIRREY DEL PINO,,San Luis,VILLA MERCEDES,740.0,0.0,...,1.0,,NaN,NaN,NaN,NaN,,ARCONA VICTOR FABIAN,2011-12-12,20206584522
2,2022,2,,San Luis,VILLA MERCEDES,,Buenos Aires,VIRREY DEL PINO,740.0,0.0,...,1.0,,NaN,NaN,NaN,NaN,,ARCONA VICTOR FABIAN,2011-12-12,20206584522
3,2022,2,,Buenos Aires,VIRREY DEL PINO,,San Luis,VILLA MERCEDES,740.0,0.0,...,1.0,,NaN,NaN,NaN,NaN,,ARCONA VICTOR FABIAN,2011-12-12,20206584522
4,2022,2,,San Luis,VILLA MERCEDES,,Buenos Aires,VIRREY DEL PINO,740.0,0.0,...,1.0,,NaN,NaN,NaN,NaN,,ARCONA VICTOR FABIAN,2011-12-12,20206584522

In [29]:
len(form_vm) - len(data_vm)

0

**Dividir por choferes form_vm:**

In [30]:
#Lista choferes sin repetir elementos
nombre_chofer
resultantList = []
 
for element in nombre_chofer:
    if element not in resultantList:
        resultantList.append(element)

resultantList

['ARCONA VICTOR FABIAN',
 'ARRASCAETA ANTONIO BERNARDO',
 'GARRIDO WALTER ARIEL',
 'MAURER WALTER VALERIO',
 'OGAS ANTONIO ',
 'RODRIGUEZ LUIS ALBERTO',
 'SALDAÑEZ LUIS ALBERTO']

In [31]:
# Crear un df para cada chofer
arcona_df = form_vm[form_vm["Chofer"]=="ARCONA VICTOR FABIAN"]
arrascaeta_df = form_vm[form_vm["Chofer"]=="ARRASCAETA ANTONIO BERNARDO"]
garrido_df = form_vm[form_vm["Chofer"]=="GARRIDO WALTER ARIEL"]
maurer_df = form_vm[form_vm["Chofer"]=="MAURER WALTER VALERIO"]
ogas_df = form_vm[form_vm["Chofer"]=="OGAS ANTONIO "]
rodriguez_df = form_vm[form_vm["Chofer"]=="RODRIGUEZ LUIS ALBERTO"]
saldañez_df = form_vm[form_vm["Chofer"]=="SALDAÑEZ LUIS ALBERTO"]

In [32]:
# to excel 
with pd.ExcelWriter(r'C:\Users\User\Documents\GitHub\Robot Viar\RRHH\Outputs\form_sueldos_vm.xlsx') as writer:  
    arcona_df.to_excel(writer, sheet_name='ARCONA VICTOR FABIAN', startrow=4, index= False)
    arrascaeta_df.to_excel(writer, sheet_name='ARRASCAETA ANTONIO BERNARDO', startrow=4, index= False)
    garrido_df.to_excel(writer, sheet_name='GARRIDO WALTER ARIEL', startrow=4, index= False)
    maurer_df.to_excel(writer, sheet_name='MAURER WALTER VALERIO', startrow=4, index= False)
    ogas_df.to_excel(writer, sheet_name='OGAS ANTONIO ', startrow=4, index= False)
    rodriguez_df.to_excel(writer, sheet_name='RODRIGUEZ LUIS ALBERTO', startrow=4, index= False)
    saldañez_df.to_excel(writer, sheet_name='SALDAÑEZ LUIS ALBERTO', startrow=4, index= False)

In [33]:
# Ver como abrir en pantalla el excel¡?
#outputs = pd.read_excel(r'C:\Users\User\Documents\GitHub\Robot Viar\RRHH\Outputs\form_sueldos_cba.xlsx') 
#outputs.head()